#mainsection {
  display: block;
  width: 70%;
  margin: auto;
}

#titlearea {
  border: 5px solid black;
  height: 150px;
}

#titlearea > h1 {
  text-align: center;
}

#inputarea {
  height: 500px;
}

#inputarea *, #outputarea * {
  display: block;
  margin: auto;
  text-align: center;
}

.tile {
  width: 20%
}

main {
  border: 5px solid black;
  box-sizing: border-box;
}
nav * {
  display: block;
  clear: both;
}

aside, nav {
  border: 5px solid black;
}

.label{
  font-weight:bold;
}
.row::before,
.row::after {
  content: "";
}
.column {
  position: relative;
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.98%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.3%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
