/*************Index Page Styling****************/

body {
  background-color: rgb(64, 158, 125)
}

#mainsection {

  display: block;
  width: 70%;
  margin: 30px auto;
}

#titlearea {
  background-color: white;
  border: 5px solid black;
  height: 150px;
}

#titlearea > h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-align: center;
  margin: 0px;
  padding-top: 40px;
}

#area {
  background-color: white;
  margin-top: 30px;
}

#inputArea, #outputArea {
  height: 300px;
  width: 60%;
  margin: auto;
}

#inputArea * {
  display: block;
  text-align: center;
}

#inputLabel {
  font-family: 'Acme', sans-serif;
  font-size: 2em;
  margin: 15% auto 0 auto;
}

#inputName {
  height: 30px;
  margin: 5% auto 0 auto;
}

#inputButton {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  width: 20%;
  height: 40px;
  margin: 10% auto 0 auto;
}

#outputArea {
  display: none;
}

#userName {
  display: inline-block;
}

#continue {
  display: block;
  margin: 60px auto;
}

#

main {
  border: 5px solid black;
  box-sizing: border-box;
}
nav * {
  display: block;
  clear: both;
}

aside, nav {
  border: 5px solid black;
}

.label{
  font-weight:bold;
}

/***********12-Column Grid Rules***********/

.row::before,
.row::after {
  content: "";
}
.column {
  position: relative;
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.98%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.3%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
