/****************Global Styling****************/

body {
  background-color: rgb(64, 158, 125)
}

main {
  border: 5px solid black;
  box-sizing: border-box;
}

button {
  font-family:  'Acme', sans-serif;
  font-size: 1.5em;
  height: 40px;
  margin: auto;
  /*min-width: 150px;*/
  max-width: 90%;
}

/*************Index Page Styling****************/

#startButton {
  font-family:  'Acme', sans-serif;
  font-size: 1.5em;
  height: 40px;
  margin: auto;
  /*min-width: 150px;*/
  max-width: 90%;
}

#outputArea h2{
  font-family:  'Acme', sans-serif;
}

#directions {
  font-family:  'Quicksand', sans-serif;
  list-style-type: none;
}

#mainsection {

  display: block;
  width: 70%;
  margin: 30px auto;
}

#titlearea {
  background-color: white;
  border: 5px solid black;
  height: 150px;
}

#titlearea > h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-align: center;
  margin: 0px;
  padding-top: 40px;
}

#area {
  background-color: white;
  margin-top: 30px;
}

#inputArea, #outputArea {
  height: 300px;
  width: 60%;
  margin: auto;
}

#inputArea * {
  display: block;
  text-align: center;
}

#inputLabel {
  font-family: 'Acme', sans-serif;
  font-size: 2em;
  margin: 15% auto 0 auto;
}

#inputName {
  height: 30px;
  margin: 5% auto 0 auto;
}

#inputButton {
  font-family:  'Acme', sans-serif;
  font-size: 1.5em;
  /*width: 20%;*/
  height: 40px;
  margin: 10% auto 0 auto;
}

#outputArea {
  display: none;
}

#userName {
  display: inline-block;
}

#continue {
  display: block;
  margin: 60px auto;
}


/*******Main Page (Game Page) Styling Rules********/

#sidebar {
  float: left;
  width: 20%;
}

aside, nav {
  border: 5px solid black;
  background-color: white;
  text-align: center;
}

nav * {
  display: block;
  clear: both;
}

nav {
  margin-top: 20px;
}

.mainlabel{
  font-family: 'Acme', sans-serif;
}

#directions {
  margin-top: 10px;
}

#start {
  margin-top: 10px;
}

#home {
  margin-top: 10px;
  margin-bottom: 10px;
}

#tileGrid {
  background-color: white;
  float: left;
  width: 50%;
  margin: auto 10%;
}

.row {
  float: left;
  width: 24%;
  margin: .5%;
}

img {
  width: 100%;
  display: block;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 2px;
}

/****************Index Page Styling****************/

#outputarea {
  display: block;
  background-color: white;
  text-align: center;
  font-family:  'Acme', sans-serif;
  margin-top: 20px;
}

#playagain {
  display: block;
  margin: auto;
  text-decoration: none;
  padding-bottom: 15px;
}

/****************12-Column Grid Rules**************/

/*.row::before,
.row::after {
  content: "";
}*/
/*
.column {
  position: relative;
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.98%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.3%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}*/

.splash {
  position: fixed;
  box-shadow: 5px 5px 8px #000000;
  z-index: 99;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  min-height: 200px;
  color: white;
  background-color: #660033;
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-family:  'Acme', sans-serif;
  font-size: 1.5em;
  vertical-align: middle;
  text-align: center;
}
